# Code formatting / style
black>=24.3.0
isort>=6.1.0
flake8>=7.1.0

# Type checking
mypy>=1.5.1
types-requests>=2.28.0
pytest-mypy-plugins>=3.2.0
pytest-mypy>=0.8.0

# Testing
pytest>=8.2.0
nbval>=0.9.7
nbqa>=1.9.0

# Security / pre-commit
pre-commit>=3.7.1
semgrep>=1.35.0
